/* ===========================================================================
   3. Definiciones de Fondos Específicos por Sección
   =========================================================================== */
.title-bg::before {background-image: url('/assets/images/imgi11.png'); }
.details-bg::before { background-image: url('/assets/images/imgi17.png'); }
.gallery-bg::before { background-image: url( '/assets/images/imgi6.png'); }
.parents-bg::before { background-image: url('/assets/images/planta.jpg'); }
.sponsors-bg::before { background-image: url('/assets/images/fondo14.jpg'); }
.itinerary-bg::before { background-image: url('/assets/images/fondo4.jpeg'); }
.locations-bg::before { background-image: url('/assets/images/fondo3.jpeg'); }
.gifts-bg::before { background-image: url('/assets/images/fondo12.jpeg'); }
.lodging-bg::before { background-image: url('/assets/images/hoja_floral2.jpg'); }
.rsvp-bg::before { background-image: linear-gradient(to bottom, rgb(65, 89, 67) 0%, rgb(65, 89, 67) 100%); }
.footer-bg::before { background-image: linear-gradient(to bottom, rgb(68, 70, 52)0%, rgb(68, 70, 52) 100%); }
.dresscode-bg::before { background-image: linear-gradient(to bottom, rgb(98, 117, 85) 0%, rgb(98, 117, 85) 100%); }
.final-bg::before { background-image: url('/assets/images/lavanda.jpg'); }
.gallery-bg { padding-bottom: var(--spacing-large); }
.rsvp-bg { padding-bottom: var(--spacing-small); }
.footer-wrapper { padding-top: var(--spacing-small); padding-bottom: var(--spacing-medium); }
